<div class="panel-heading">Top AS Path {{ (direction == 'out') ? 'outbound' : 'inbound' }}</div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>As Path</th>
        <th>As Name</th>
        <th>Bits/s</th>
        <th>Packets/s</th>
      </tr>
    </thead>
    <tbody>
{% for r in rows %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ r.as_path }}</td>
        <td>{{ r.as_name }}</td>
        <td>{{ r.traffic }}bit/s</td>
        <td>{{ r.pps }}pkt/s</td>
      </tr>
{% endfor %}
      <tr>
        <td><a href="{{ r.iface_index }}" class="btn btn-default btn-danger btn-xs">Total</a></td>
        <td></td>
        <td></td>
        <td>{{ total_traffic }}bit/s</td>
        <td>{{ total_pps }}pkt/s</td>
      </tr>
    </tbody>
  </table>
