<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flows Statistics</title>
  <link href="/img/favicon.ico" rel="shortcut icon"/>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-select.min.css" rel="stylesheet">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-select.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="navbar navbar-default" role="navigation">
      <div class="">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.php">Flow Statistics</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
             <li><a class="navbar-brand" href="index.php"><img src="img/logo.png" width="25" height="25" alt=" "></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="list-group">
        <a href="{{ link.if }}" class="list-group-item {{ (page == 'if') ? 'active' }}">Traffic by Interface</a>
        <a href="{{ link.asn }}" class="list-group-item {{ (page == 'asn') ? 'active' }}">Top ASN</a>
        <a href="{{ link.asp }}" class="list-group-item {{ (page == 'asp') ? 'active' }}">Top AS Path</a>
        <a href="{{ link.ctry }}" class="list-group-item {{ (page == 'ctry') ? 'active' }}">Top Countries</a>
        <a href="{{ link.talk }}" class="list-group-item {{ (page == 'talk') ? 'active' }}">Top Talkers</a>
        <a href="{{ link.sess }}" class="list-group-item {{ (page == 'sess') ? 'active' }}">Top Sessions</a>
      </div>
      <hr/> 
      <h6>Direction :</h6>
      <select class="selectpicker" data-style="btn-xs" data-width="85%">
        <option value="{{ link.out }}" {{ (direction == 'out') ? 'selected'}} >Outbound</option>
        <option value="{{ link.in }}" {{ (direction == 'in') ? 'selected' }} >Inbound</option>
      </select>
      <hr/> 
      <h6>Interval :</h6>
      <select class="selectpicker" data-style="btn-xs" data-width="85%">
        {% for i in intervals %}
        <option value="{{ i.link }}" {{ i.selected }} >{{ i.name }}</option>
        {% endfor %}
      </select>
      <hr/> 
      <h6>Customer :</h6>
      <select class="selectpicker" data-style="btn-xs" data-width="85%">
        {% for c in custs %}
        <option value="{{ c.link }}" {{ c.selected }} >{{ c.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group  btn-group-sm">
            <a href="{{ link.out }}" class="btn btn-default {{ (direction == 'out') ? 'active' }}">Outbound</a>
            <a href="{{ link.in }}" class="btn btn-default {{ (direction == 'in') ? 'active' }} ">Inbound</a>
          </div>
          <div class="btn-group  btn-group-sm pull-right">
            <button type="button" class="btn btn-default" aria-label="Left Align">(from {{ stamp_min }} to {{ stamp_max }} )</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="panel">
