<div class="panel-heading">Traffic {{ (direction == 'out') ? 'outbound' : 'inbound' }} by Interface</div>
  <table class="table">
    <thead>
      <tr>
        <th>Router</th>
        <th>Interface</th>
        <th>Bits/s</th>
        <th>Packets/s</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
{% for r in rows %}
      <tr>
        <td><a href="" class="btn btn-default btn-xs">{{ r.router_desc }}</a></td>
        <td><a href="{{ r.if_id }}" class="btn btn-default btn-xs">{{ r.iface_desc }}</a></td>
        <td>{{ r.traffic }} Mb/s</td>
        <td>{{ r.pps }} Kpkt/s</td>
        <td>
          <div class="progress" style="text-align: center;">
	    <div class="progress-bar" role="progressbar" aria-valuenow="{{ r.percent }}" style="width: {{ r.percent }}%;"></div> {{ r.percent }}%
          </div>
        </td>
      </tr>
{% endfor %}
      <tr>
        <td><a href="{{ r.iface_index }}" class="btn btn-default btn-danger btn-xs">Total</a></td>
        <td></td>
        <td>{{ total_traffic }} Mb/s</td>
        <td>{{ total_pps }} Kpkt/s</td>
        <td></td>
      </tr>
    </tbody>
  </table>
